/*fontawesome iconfont*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body
{
    font-family: Arial;
    font-size: 11px;
    background: #F3F7F9 !important;
}

.navbar-inverse {
    background-color: #31475A !important;

}

.error-msg
{
    color: #FF3300;
    display: none;
}

.form-container .select-small
{
    width: 100px;
}

.switch-toggle label, .switch-toggle > span
{
    line-height: 3em !important;
}

.tab-pane
{
    /* padding: 15px 6px; */
}

.field-label
{
    display: inline;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 30px;
    width: 20px;
    float:left;
}

.form-group
{
    margin-bottom: 8px !important;
}

.btn-r-pos
{
    float: right;
    width: 120px;
    margin-right: 8px;
}

.btn-file input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}


.pricing-table
{
    width: 90%;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}

.pricing-table .heading
{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.group
{
    zoom: 1;
}

.price-block
{
    width: 18%;
    margin: 15px 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

.fl
{
    float: left;
}

.title
{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    font-size: 18px !important;
    margin: 0;
    padding: 0;
}

.pt-footer
{
    margin: 20px 0;
}

.content
{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}

.price
{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}

.hint
{
    font-style: italic;
    font-size: 1.5rem;
}

.price span
{
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: 14px;
}

.price sup
{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
    line-height: 17px !important;
}

.features
{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding: 30px 11px;
    font-size: 12px;
}

.price-block .btn
{
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    color: #fff;
    font-size: 15px;
    /*padding: 20px 30px;
    background: #1B253B;
    /*-webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;*/
}


#l-account-info {
    background: #FF7F00;
    color: #fff;
}

.directory-listing .title, .directory-listing .btn
{
    background: #78CFBF;
}

.directory-listing .content, .cart-items .directory-listing a
{
    background: #82DACA;
}

.directory-listing .content:after
{
    border-top-color: #82DACA;
}

.directory-listing .cartTick
{
    color: #78CFBF;
}

#l-directory-listing
{
     background: #82DACA;
     color:#fff;
}

.advertisement .title, .advertisement .btn
{
    background: #3EC6E0;
}

.advertisement .content, .cart-items .advertisement a
{
    background: #53CFE9;
}

.advertisement .content:after
{
    border-top-color: #53CFE9;
}

.advertisement .cartTick
{
    color: #3EC6E0;
}

#l-advertisement
{
     background: #53CFE9;
     color:#fff;
}

.deals .title, .deals .btn
{
    background: #E3536C;
}

.deals .content, .cart-items .deals a
{
    background: #EB6379;
}

.deals .content:after
{
    border-top-color: #EB6379;
}

.deals .cartTick
{
    color: #E3536C;
}

#l-deals
{
     background: #EB6379;
     color:#fff;
}


.new-opening .title, .new-opening .btn
{
    background: #E7B818;
}

.new-opening .content, .cart-items .new-opening a
{
    background: #EECD59;
}

.new-opening .content:after
{
    border-top-color: #EECD59;
}

.new-opening .cartTick
{
    color: #E7B818;
}

#l-new-opening
{
     background: #EECD59;
     color:#fff;
}

.recommendation .title, .recommendation .btn
{
    background: #D176CB;
}

.recommendation .content, .cart-items .recommendation a
{
    background: #DA92D5;
}

.recommendation .content:after
{
    border-top-color: #DA92D5;
}

.recommendation .cartTick
{
    color: #D176CB;
}

#l-recommendation
{
     background: #DA92D5;
     color:#fff;
}

.content p
{
    margin: 0 0 4px 0;
}

.content:after, .content:before
{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.content:after
{
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}

.buy:hover
{
    -webkit-animation: animatedBackground 1s ease-out 1;
    -moz-animation: animatedBackground 1s ease-out 1;
    animation: animatedBackground 1s ease-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    box-shadow: 5px 0px 25px rgba(153,153,153,0.3);
    -webkit-box-shadow: 5px 0px 25px rgba(153,153,153,0.3);
    -moz-box-shadow: 5px 0px 25px rgba(153,153,153,0.3);
}

@-webkit-keyframes animatedBackground
{
    0%
    {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100%
    {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@-moz-keyframes animatedBackground
{
    0%
    {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100%
    {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@keyframes animatedBackground
{
    0%
    {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100%
    {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

.cart
{
    margin: 15px 10px;
    padding: 0px;
    float: left;
    width: 98%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    overflow: hidden;
}

.cart .title
{
    color: #000;
    background-color: silver;
    text-align: left;
    padding-left: 25px;
    /*background: silver url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 20px 8px;*/
}

.cart-icon-wrapper
{
    width: 60px;
    float: left;
    position: relative;
}

.cart-items
{
    float: left;
    width: 70%;
    margin: 20px 0;
    padding-left: 26px;
    /* border-right: 1px solid #e6e7e9; */
}

.cart-items li
{
    line-height: 26px;
    border: solid 1px #F2F2F2;
    text-align: left;
    font-size: 12px;
    list-style: none;
    overflow: hidden;
    margin: 8px 0;
    border-radius: 5px;
    background-color:#F2F2F2;
}

.cart-total
{
    /* float: right; */
    /* margin: 20px 50px; */
    /* width: 30%; */
    /* height: 100%; */
    /* border-left: 1px solid #e6e7e9; */
    /* text-align: center; */
}

.cart-total h3
{
    font: bold 18px/20px Helvetica,Arial,sans-serif !important;
    /* border-bottom: solid 2px #e6e7e9; */
    margin: 0 0 !important;
    padding: 20px 0 0px 0;
}

.cart-total span
{
    /* font: bold 18px/20px Helvetica,Arial,sans-serif; */
}

.cart-total .btn
{
    margin:10px 0;
    background:#0089e0;
    color:#fff;
    /* height: 28px; */
}

.fleft
{
    float: left;
    width: 85%;
    display: block;
    /* padding-left: 20px; */
    /* border-right: silver solid 1px; */
}

.fleft a
{
    width: 30px;
    height: 30px;
    display: block;
    overflow: auto;
    float: left;
    background: url('../Images/x-mark-1-16.gif') no-repeat 4px 6px;
}

.fleft a img
{
    margin-left: 5px;
}

.fleft div
{
    display: block;
    width: 150px;
    float: left;
    padding-left: 5px;
    font-weight: bold;
    padding-top: 2px;
}

.fright
{
    float: right;
    /* padding-right: 10px; */
    font-weight: bold;
    color: #fff; /*#E35354;*/
    width: 15%;
}


.shopping-cart
{
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}



.product
{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


.product:hover
{
    -webkit-box-shadow: 3px 2px 3px 1px rgba(189,189,189,0.8);
    -moz-box-shadow: 3px 2px 3px 1px rgba(189,189,189,0.8);
    box-shadow: 3px 2px 3px 1px rgba(189,189,189,0.8);
}

.product:hover .fleft a
{
    background: url('../Images/x-mark-2-16.gif') no-repeat 4px 6px;
}

.product.ng-enter
{
    opacity: 0;
}

.product.ng-leave
{
    opacity: 1;
}

.product.ng-enter.ng-enter-active
{
    opacity: 1;
}

.product.ng-leave.ng-leave-active
{
    opacity: 0;
}

.cart-ico-wrapper
{
    width: 30px;
    /* overflow: auto; */
    float: left;
    top: 5px;
    position: relative;
}


.tag a
{
    margin-top: 0px;
    padding: 0 10px 0 12px;
    /*background:#0089e0;*/
    color: #fff;
    float: left;
    height: 28px;
    line-height: 28px;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}

.tag a:before
{
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    height: 0;
    border-style: solid;
    border-width: 14px 12px 13px 0;
    height: 28px;
}

.cart-items .advertisement a:before
{
    border-color: transparent #53CFE9 transparent transparent;
}

.cart-items .deals a:before
{
    border-color: transparent #EB6379 transparent transparent;
}

.cart-items .new-opening a:before
{
    border-color: transparent #EECD59 transparent transparent;
}

.cart-items .directory-listing a:before
{
    border-color: transparent #82DACA transparent transparent;
}

.cart-items .recommendation a:before
{
    border-color: transparent #DA92D5 transparent transparent;
}

.tag a:after
{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

.login-wrapper
{
    margin: 20px 0;
}

/*.partial-login, .partial-register
{
    background-color:#fff;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    margin: 20px;
    padding: 25px 0 0;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    width: 450px;
}*/

.partial-login
{
    background-color:#fff;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 25px 0 0;
    position: relative;
    text-shadow: 0 1px 0 #fff;
}

.partial-login h1, .partial-register h1
{
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 20px 0 30px;
    /* float: left; */
}

.partial-login h1:before, .partial-register h1:before
{
    background: rgb(126,126,126);
    background: -moz-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}

.partial-login h1:after, .partial-register h1:after
{
    background: rgb(126,126,126);
    background: -moz-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}

.partial-login h1:before, .partial-login h1:after, .partial-register h1:before, .partial-register h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 55px;
    width: 25%;
}


.partial-login input[type="text"], .partial-login input[type="password"]
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #c8c8c8;

    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    width: 100%;
    transition: all 0.5s ease;
    display: block;
    height: 45px;
    color: #bdbdbd;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    padding-left: 40px;
    max-width: 340px !important;
}

.partial-login input[type="text"]
{
    background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat -2px -52px;
}

.partial-login input[type="password"]
{
      background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat 0 10px;
}

#username {
    background-position: 10px 10px !important;
}


#password {
    background-position: 10px -53px !important;
}

.partial-login  input[type="password"]:focus, .partial-login input[type="text"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}

.login-form-wrapper,#reg-form-wrapper
{
    padding: 0 50px;
}

.login-form-wrapper label
{
    float:left;
    font-weight:normal;
    margin-top:10px;
}

.login-form-wrapper .col-md-10
{
    padding-left: 0px !important;
}

.header
{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.header span
{
    float:left;
    text-align: left;
}

.partial-login .footer, .partial-register .footer
{
    background: rgba(247,249,250,1);
    background: -moz-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,249,250,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(247,249,250,1) 0%, rgba(246,246,246,1) 0%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#dedede', GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
    float: left;
    width: 100%;
    margin-top:15px;
}

.partial-login .footer .btn, .partial-register .footer .btn
{
    float: right;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    cursor: pointer;
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    margin-right: 60px;
    width:130px;
}

.partial-login .footer .register,  .cancel-reg {
    display: block;
    float: right;
    padding: 10px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
    color: #414848;
    text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}


.partial-login .footer .register:hover, .cancel-reg:hover{
	color: #449d44;
}

.partial-login .footer .register:focus, .cancel-reg:focus {
	position: relative;
	bottom: -1px;
}

#login-form-wrapper .col-md-10
{
    width:100%;
}


.partial-register
{
    width:600px !important;
}

.partial-register .col-md-2
{
    width:30% !important;
}

.partial-register .col-md-10
{
    width:70% !important;
}

.partial-login.is-switched .is-visible {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  -moz-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s;
}
.partial-login.is-switched .is-hidden {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  -moz-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0;
}
.partial-login.is-switched .is-selected {
  opacity: 1;
}
.partial-login.is-switched.reverse-animation .is-visible {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: cd-rotate-back 0.5s;
  -moz-animation: cd-rotate-back 0.5s;
  animation: cd-rotate-back 0.5s;
}
.partial-login.is-switched.reverse-animation .is-hidden {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse-back 0.5s;
  -moz-animation: cd-rotate-inverse-back 0.5s;
  animation: cd-rotate-inverse-back 0.5s;
  opacity: 0;
}

.partial-login .is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.partial-login .is-selected {
  /* the next item that will be visible */
  z-index: 3 !important;
}


#expiryDatePicker
{
    width:240px;
}

#deals-container input,
#deals-container select,
#deals-container textarea {
    max-width: 100% !important;
}

.img-uploaded
{
    width:280px;
    display: block;
    float: left;
}

.img-uploaded img
{
    float:left;
    display:block;
}

.img-uploaded-desc
{

    display: block;
}

.img-uploaded-desc .img-uploaded-size, .img-uploaded-desc .img-uploaded-name
{
    display: inline;
    position: relative;
    clear: none;
    margin: 8px;
}

.img-uploaded-desc .img-uploaded-name
{
    float:left;
}

.img-uploaded-desc .img-uploaded-size
{
    float:right;
}

.img-uploaded .photoSizeLimit
{
    margin:8px 0;
}
.remove
{
    background: #606061;
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    left: 305px;
    text-align: center;
    top: 40px;
    width: 20px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#subs-form-wrapper .form-group
{
    margin-left:0;
    margin-right: 0; 
}

#form-leftSection
{
    float:left;
    width: 800px;
   /* border-right: solid 1px silver;*/
    padding-right: 20px;
    padding-top: 20px;
    
    /* box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,   1px 1px 2px rgba(0, 0, 0, 0.1),1px 1px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: -3px 0 1px 0 rgba(0,0,0,0.1);
}

#form-leftSection .col-xs-10
{
    width: 78%;
}

#form-leftSection .col-xs-2
{
    width: 22%;
}

#form-leftSection .bootstrap-timepicker
{
    float:left;
    width: 165px;
}

#form-leftSection .timepicker
{
    width: 78%;
}

#form-rightSection
{
    float:left;
    width: 320px;
    padding-left: 35px;
}

.change_picture_link
{
    display: block;
    width: 280px;
    height: 240px;
    margin-top: 10px;
    color: #fff !important;
    text-decoration: none !important;
    overflow: hidden;
    position: relative; 
}

#comp-image
{
    width: 280px;
    height: 240px;
    z-index: 10;
    display: block;
    border-radius: 6px;
}

.rec-thumb-image
{
    width: 120px;
    height: 80px;
    z-index: 10;
    display: block;
}

.change_picture_link:hover .change_picture{   /*.change_picture {*/
    display: block;
    bottom: 0px;
}

.change_picture_link .change_picture {
    opacity: 0;
    /* display: none; */
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    background-color: #000;
    position: absolute; 
    height: 28px;
    padding: 5px 0;
    margin-top: -28px;
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    opacity: .7;
    -webkit-transition: opacity linear .3s;
    -moz-transition: opacity linear .3s;
    transition: opacity linear .3s;
    bottom: -193px;
    transition: all 0.5s ease;
    width: 100%;
}

.change_picture_link .change_picture:after {
   content:'';
}

#hImageUploader
{
    display:none;
}

.form-update
{
    float: left;
    margin-top: 10px;
    padding: 15px;
    border-top: solid 1px silver;
    width: 100%;
}

.form-title
{
    /* background: #607A99; */
    /* border-radius: 6px; */
    /* color: #fff; */
    padding: 30px;
    float: left;
    display: block;
    width: 100%;
    /* text-align: center; */
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* z-index: 50; */
}

.form-title h3
{
    margin:0;
    font-family: 'Open Sans';
    font-size: 20px !important;
    text-transform: uppercase;
    color: #1FC776; 
    font-weight: bold;
}

.instruction {
    padding: 20px 0 0 20px;
    font-weight: normal;
}

.form-container
{
    display: block;
   overflow: hidden;
    position: absolute;
    width: 100%;
    /*
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
        */
}


/*Hide all except first fieldset*/
.form-container:not(:first-of-type),
.orderform-section:not(:first-of-type) {
	display: none;
}

.orderform-section
{
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #ddd;
    width: 1100px;
    float: left;
    display: block;
    background-color: #fff;
}


#orderForms ul
{
  width: 1100px;
}

.orderform-section form
{
  padding:  0;
  float: left;
}
#subs-form-container
{
    position: relative;
    /* margin-left: 40px; */
}

.hdn
{
 display:none !important;
}


.cartTick 
{
    display: inline-block;
    color: #82DACA;
    margin-top: -18px;
    padding-top: 3px;
    cursor:pointer;
}

.cartTick:before {
	content: '\f046'; /*checked*/
	/*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    font-family: FontAwesome;
	/* opacity: 0.5; */
	/*CSS3 transitions for animated effect*/
	transition: all 0.35s;
	font-size: 30px;
	top: 12px;
	position:relative;
}

.cartTick:after {
	content: 'Add to Cart'; /*checked*/
	/*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    font-family: FontAwesome;
	/* opacity: 0.5; */
	/*CSS3 transitions for animated effect*/
	transition: all 0.35s;
	font-size: 36px;
	top: 6px;
	position:relative;
	padding-right:4px;
	font-family: Arial;
    font-size:18px;
}

.cart-wrapper {
    width: 100%;
    float: left;
    display: block;
    margin-top:50px;
    text-align: center;
}

.shopping-cart {
  display: inline-block;
  background: url('http://png.findicons.com/files/icons/1579/devine/48/cart.png') no-repeat 0 0;
  width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
  /* padding-left: 20px; */
  /* float: right; */
}

#shopping-cart-counter {
  position: absolute;
  /* left: 76px; */
  /* top: 600px; */
  margin: -6px 0 0 50px;
  height: 30px;
  line-height: 28px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 2px solid #fff;
  background: #444444;
  color: #fff;
  font-family: arial;
  font-size: 19px;
}

.form-content
{
  float:left;
  width: 750px;
}
.cart-list 
{
  width:750px;
  border-radius: 2px;
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.25); */
  float: left;
}
.cart-list > thead th {
  background-color: #607A99;
  color: white;
  text-align: left;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  font-size: 15px;
  font-family: 'Open Sans';
  text-transform:uppercase;
}

.cart-list > tfoot td {
  font-size: 14px;
  font-family: 'Open Sans';
  text-transform:uppercase;
  color: #555;
}

.cart-list th, .cart-list td {
  padding: 20px;
 
}

.cart-list td {
  background-color:#fff;
  border-bottom: solid 1px #F3F7F9;
  font-family: 'Open Sans';
  font-size: 14px !important;
}

.cart-list td select {
  width:55px;
  height:28px;
}

.cart-list .amount
{
    font-weight: bold;
    font-size: 14px !important;
    font-family: 'Open Sans';
}

#cartTotal
{
    position: relative;
    right: 136px;
    float: right;
}

#cart .total
{
    font-size: 18px;
    font-family: 'Open Sans';
    text-transform:uppercase;
    color: #555;
    font-weight: bold;
}

.cart-nav
{
    display: block;
    margin: 20px 0 0;
    width: 750px;
    float:left;
}

/*.cart-nav a
{
    float:left;
    background-color: #5794db;
    color: #fff;
    width: 180px;
}*/


.labelText
{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: normal;
    margin: 1px 20px 0 20px;
    position: relative;
    top: -3px;
}

.cart-summary {
    float: left;
    background: #fff;
    padding: 20px;
    /*width: 260px;*/
    margin-left: 20px;
    text-align: left;
    /* border-radius: 2px; */  
    /* box-shadow: 0 1px 5px rgba(0,0,0,0.25); */
    /* margin-top: 50px; */
}

.cart-summary h3 {
    font-size: 28px;
    padding-bottom: 0px;
    margin: 0px;
    float: left;
    font-family: 'Open Sans';
    color:#607A99; 
    font-weight: bold;
}

.cart-summary .cart-count {
  float: right;
  font-size: 18px;
  margin-top: 7px;
  font-family: 'Open Sans';
  color:#607A99; 
}

.cb {
  clear: both;
}

.cart-summary-subtotal {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 32px;
    text-align: left;
    font-family: 'Open Sans';
    text-transform:uppercase;
    color: #555;
    font-weight:bold;
}

.f-left
{
    float:left;
    margin-right: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus 
{
    color: #555 !important;
    background-color: #fbfbfb !important;
}

.tab-pane {

    box-shadow: 0 0 4px rgba(0,0,0,.4);
    box-shadow:  0 1px 5px rgba(0,0,0,0.25);
    border-radius: 0;
  
}

.nav-tabs > li.active > a {
    box-shadow: none;
}
.nav-tabs > li > a {
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,0.25),-2px -2px 5px -2px rgba(0,0,0,0.25);
}



.nav-tabs2 > li > a {
    box-shadow: none
}

.nav-tabs2 > li.active > a {
    box-shadow: none;
    /* border:none !important; */
}

#entry-list
{
  float: left;
  background-color:  #f9f9f9; /*#FCFCFC;*/
  /* z-index: 80; */
  /* box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,   1px 1px 2px rgba(0, 0, 0, 0.1),1px 1px 2px rgba(0, 0, 0, 0.1); */
}
.nav-tabs2 {
  float: left;
  border: none;
 /* background: url('http://demo3.bestdnnskins.com/Portals/_default/skins/a6-standardmenu/images-DodgerBlue/tab_left.png') no-repeat right top;*/
  min-height: 700px;
  width: 220px !important;
  text-align: center;
  border-right: 1px inset #dcdcdc;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
display: table;
content: "";
line-height: 30px;
}

.nav-tabs2 > li {
float: none !important;
}

.nav-tabs2 > li {
  margin-bottom: 0;
  margin-right: 1px;
  border-bottom: 1px solid #dbdbdb;
}

.nav-tabs2 > li:first-of-type {
  padding:10px 0;
  color:#343C48;

}

.nav-tabs2 > li:first-of-type > label {
  color:#343C48;
  padding-left:4px;
}

.nav-tabs2 > li:first-of-type:before{
  content: "\f00b";
  font-family: FontAwesome;
  color:#343C48;
  font-size:25px;
}
.nav-tabs2 > li > a {
  color: #888;
  height: 37px;
  line-height: 40px;
  padding: 0;
}

 .nav-tabs2 > li.active-wbg  , .nav-tabs2 > .active-wbg  > a, .nav-tabs2 > .active-wbg  > a:hover {
 /* background: url('http://demo3.bestdnnskins.com/Portals/_default/skins/a6-standardmenu/images-DodgerBlue/tab_nav_sel.jpg') repeat-x top;*/
  
  background-color:#fff !important;
  border-radius: 0;
  margin-right: -1px;
  position: relative;
  color: #555;
}

.nav-tabs2 > .active-wbg {
  border-left: 6px solid #E46C47 !important;
  border-top: 1px solid #dbdbdb;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs2 > .active-wbg  > a:before {
  background-color:#fff;
  content: " ";
  height: 37px;
  position: absolute;
  right: -14px;
  top: 0;
  width: 14px;
}

.my-glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#555 !important;
}

.my-glyphicon-remove:before {
    content: "\f05c";
}

.img-btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
}

.table-files
{
    margin-top:20px;
    width: 500px;
}

.table-files td
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-files .odd-row
{
background-color: #f9f9f9;
}

#paymentSection
{
  float:left;
  width: 600px;
  /* background-color: #fff; */
  /* border-radius: 2px; */  
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.25); */
  /* margin:20px; */
  /* padding-left:20px
 */}


#paymentSummary
{
    float:left;
    width: 400px;
}

#paymentSummary  table
{
  width:100%;
}

#paymentSummary  th
{
  background-color: #fff;
  color: #555;
  text-align: left;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  font-size: 15px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  border-bottom:1px solid #ddd;
}

#paymentSummary  th:first-child
{
  width:320px;
}

#paymentForm .boxWrapper
{
    float: left;
    background: #fff;
    padding: 20px;
    margin-left: 20px;
    text-align: left;
}

#paymentForm h3
{
  padding-left:20px;
}


.col-ori
{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.lbl-font-norm
{
    font-weight:normal !important;
}

.fancy-checkbox input[type="checkbox"]+span:before {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    position: relative;
    bottom: 1px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    content: "";
    border: 1px solid #ccc;
}

.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked+span:before {
    color: #296eaa;
    background-color: #fff;
}

.fancy-checkbox input[type="checkbox"]:checked+span:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 12px;
    color: #99a1a7;
    text-align: center;
    line-height: 16px;
    background: #ededed;
    border: 1px solid #ccc;
}
.btn-subs
{
    height: 45px;
}

.large-text-mid
{
  text-align: center;
  margin:0  auto;
  padding:0;
  font-size:36px;
  text-transform:uppercase;
  font-weight:bold;
  padding:10px 0;
  color: #555;
  font-family: 'Open Sans';
}

.normal-text-mid
{
  text-align: center;
  margin:0  auto;
  padding:0;
  font-weight:normal;
  padding:10px 0;
  color: #555;
}

.box-underline
{
    border-bottom: 1px solid #ccc;
}

#thankyouForm
{
    width: 800px;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    padding: 20px 40px;
}

.center-elmnt
{
    float: left;
    width: 100%;
}

.control-error-msg
{
    margin: 5px 0 0 0px;
    color: #a94442;
    display: block;
    font-size: 14px;
 
}

.control-has-error  {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;    
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;   
    border: 1px solid #a94442 !important;   
}
.field-label-error
{
    color:#a94442;
}

.form-control-feedback
{
    top: 0px !important;
    color: #a94442;
    right: 210px !important;
}

#form-leftSection .form-control
{
  width: 380px !important;
  /* float: left; */
}

.progress-text
{
    background-image: url('../Images/ajax-loader.gif');
    background-repeat: no-repeat;
    padding-left:24px;
    margin-top:8px;
}

.continue
{
    background-color: #428bca;
    -webkit-transition: background 5s linear;
-moz-transition: background 5s linear;
-ms-transition: background 5s linear;
-o-transition: background 5s linear;
transition: background 5s linear;
}

.input-append {
    margin-bottom: 0px !important;
}