@using GreatSavings.Helper
@model string

@{
    ViewBag.Title = "AllDeals";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}



<script src="~/Scripts/Controllers/productcontroller.js" type="text/javascript"></script>

<div class="container">
    <h4>List of Deals:</h4>
    <div class="featured-container col-md-12">

        <div class="sub-container">
            @Html.Partial("~/Views/Home/Deals.cshtml", Model)
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget right_widget">
            @Html.Partial("~/Views/Product/SearchProduct.cshtml", new GreatSavings.Product())
       
        </div>
        <div class="widget right_widget">

            @Html.ProductCategories(2, "Deals")


        </div>

    </div>
</div>