@model string


<div id="deals" ng-controller="dealsController" ng-init="loadDeals(10, @Html.Raw(Model))" infinite-scroll="loadMoreDeals()" infinite-scroll-disabled='loading' infinite-scroll-distance='2'>
    <div class="item-container col-md-3" ng-repeat="item in deals">
        <div class="featured-item">
            @*<div class="days-mask">
                    <p>77 days left</p>
                </div>*@
            <div class="featured-item-container">
                <div class="logotype">
                    <div class="logotype-image">
                        <img width="93" height="72" ng-src="data:image/gif;base64,{{item.Image}}"
                             class="attachment-shop_logo wp-post-image" alt="logotype-3">
                    </div>
                    <a class="featured-item-overlay" href="/Product/Deals/{{item.Id}}">
                        <span class="view-icon">
                            <i class="fa fa-search"></i>
                        </span>
                    </a>
                </div>
                <div class="featured-item-content">
                    <a href="/Product/Deals/{{item.Id}}">
                        <h4>{{item.CompanyName}}</h4>
                    </a>
                    <p></p>
                    <p class="item-title">{{item.Title}}</p>
                    <p></p>
                    <div class="item-date">
                        <span class="caption">Expired:</span>
                        <span class="value">{{item.ExpiryDate | date:'dd MMM yyyy'}}</span>
                    </div>

                </div>
                <div class="item-meta">
                    <a href="" ng-click="$parent.saveCoupon(item.Id, item.Title, item.CompanyName, item.ExpiryDate)">
                        <i class="fa fa-plus-square">&nbsp</i>Save
                    </a>
                    <ul class="social-links">
                        <li>
                            <a id="social-link-facebook" href="https://www.facebook.com/envatomarket">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a id="social-link-twitter" href="https://twitter.com/envatomarket">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a id="social-link-pinterest" href="https://plus.google.com/u/0/112592709425670873637/about">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a id="social-link-google" href="https://plus.google.com/u/0/112592709425670873637/about">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>

                    @*<ul class="list-inline list-unstyled">
                            <li>
                                <a href="javascript:;">
                                    <span class="fa fa-clock-o"></span>77 days
                                </a>
                            </li>
                            <li>
                                <a href="http://demo.powerthemes.club/themes/couponer/shop/adibbas-2/?label_var=discount">
                                    <span class="fa fa-tag"></span>Discount
                                </a>
                            </li>
                            <li class="pull-right">
                                <a href="http://demo.powerthemes.club/themes/couponer/shop/adibbas-2/">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>

